<div class="row">
  <div class="panel small-12 columns">
    <h2>Sign up</h2><br />

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

  <div class><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div class><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class><%= f.submit "Sign up", class: "button radius round" %></div>
<% end %>

  <div class><%= render "devise/shared/links" %></div>
  </div>
</div>