<%= form_for (setup_wiki(@wiki)) do |f| %>
  <% if @wiki.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="small-8 columns">
    <h3><strong> Personal Life </strong></h3><br />
      <%= text_area_tag :body, "Add your personal connections here." %>
      <%= text_area_tag :body, 'Add your family members here.' %><hr />

    <%= f.fields_for :sections do |builder| %>
      <%= render 'section_fields', f: builder %> 
    <% end %>
    <p><%= link_to_add_fields "Add Section", f, :sections %></p><br />
  </div>

  <div class="card small-3 small-offset-1 columns">
    <%= f.fields_for :biocard do |builder| %>
      <%= render 'biocard_fields', f: builder %>
    <% end %>
  </div>

  <div class="small-12 columns">
  <%= f.submit "Save", class: "button radius round" %>
  </div>
<% end %>  
