<div class="row">
  <div class="panel small-12 columns">
    <h1> All Wikis </h1><br />

    <%= form_tag wikis_path, method: :get do %>
      <p>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "Search", name: nil, class: 'button small radius round' %>
        <% if params[:query].present? %>
          <%= link_to "Clear", wikis_path %>
        <% end %>
      </p>
    <% end %>

    <% if current_user.wiki.blank? %>
     <%= link_to "New Wiki", new_wiki_path, class: 'button radius round' %> <br /><br />
    <% end %>

      <% @wikis.each do |wiki| unless wiki.user == current_user %>
        <h3><%= link_to wiki.user.name, wiki %></h3>
        <small>submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %></small><br /><br />
        <% end %>
      <% end %>
  </div>
</div>