<div class="row">
  <div class="large-12 columns">
    <h2>Sign in</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  </div>
  <div class="large-12 columns"><%= f.label :email %><br /> </div>
  <div class="large-12 columns"><%= f.email_field :email, :autofocus => true %></div>

  <div class="large-12 columns"><%= f.label :password %><br /></div>
  <div class="large-12 columns"><%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="large-12 columns"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="large-12 columns"><%= f.submit "Sign in", class: "button radius round" %></div>
  <% end %>

  <div class="large-12 columns"><%= render "devise/shared/links" %></div>
</div>
