<div class="row">
  <div class="panel small-12 columns">
    <h2><strong><%= @user.name %></strong></h2>
    <hr />
 <%= form_for @post do |f| %>
  <div class="small-8 columns">
  <%= f.label :summary %>
    <%#= f.check_box :summary, id: 'summary' %>
    <%= f.text_area :summary, id: 'summarytextfield', style: "#{'display:block'}" %>

  <%= f.label :earlylife %>
    <%#= f.check_box :earlylife, id: 'earlylife' %>
    <%= f.text_area :summary, id: 'earlylifetextfield', style: "#{'display:block'}" %>

  <%= f.label :career %>
    <%#= f.check_box :career, id: 'career' %>
    <%= f.text_area :career, id: 'careertextfield', style: "#{'display:block'}" %>  
      
  <%= f.label :personallife %>
    <%#= f.check_box :personallife, id: 'personallife' %>
    <%= f.text_area :personallife, id: 'personallifetextfield', style: "#{'display:block'}" %>

  <% if current_user.role == 'premium' %>
    <%= f.label :public do %>
      <%= f.check_box :public %> Public
    <% end %>
  <% end %><br />

  <%= f.submit "Save", class: "button radius round" %>

  </div>

  <div class="small-4 columns">
    <div class="card">
      <p>hello</p>
    <%= f.label :birthdate, "Date of Birth" %>
    <%#= f.date_select :birthdate, start_year: Time.now.year - 100, end_year: Time.now.year %>
    </div>
  </div>
  </div>
  <% end %>
</div>