<div class="row">
  <div class="large-12 columns">
    <h1>New Wiki</h1><br />
  <%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %></div>

  <div class="large-12 columns"><%= f.label :body %>
  <%= f.text_area :body %></div>

  <div class="large-12 columns"><%= f.submit "Save", class: "button radius round" %></div>
<% end %>
</div>