<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bio-wiki" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: ENV['PUBLISHABLE_KEY'] %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Bio-Wiki", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
        <li class="divider"></li>
        <% if current_user #&& (current_user.plan_id == 'free') %>
          <li class="active"><%= link_to "#{current_user.name}", edit_user_registration_path %></li>
          <li class="active"><%= link_to "My Plan", '#' %></li>
          <li class="active"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <li> <%= link_to "Upgrade Plan", '#' %> </li>
            <% else %>
            <li class="has-dropdown">
              <%= link_to "Sign Up", new_user_registration_path %>
              <ul class="dropdown">
                <li><%= link_to "Free Plan", new_user_registration_path %></li>
                <li><%= link_to "Premium Plan", new_user_registration_path %></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="active">
              <%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>

        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Wiki Pages</a>
            <ul class="dropdown">
              <li><a href="#">Public Wikis</a></li>
              <li><a href="#">Private Wikis</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>


    <%= yield %>
  </body>
</html>